<!DOCTYPE html>
<html lang="ru-ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="slick/slick.css"/>
    <link rel="stylesheet" href="slick/slick-theme.css"/>
    <style>
        .slick-prev:before,
        .slick-next:before {
            color: black;
        }
.hovereff ul,
.hovereff li{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.hovereff li{
	display: inline-block;
	width: 350px;
	position: relative;
}
.hovereff img{
	max-width: 450px;

}
.descr{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);
	color: #fff;
	padding-top: 50px;
	text-align: center;
	opacity: 0;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.hovereff li:hover .descr{
	opacity: 1;
}
    </style>
</head>
<body>
      <br>
      <table align="center">
          <tr align="center">
              <td align="center" colspan="2">
                  <h1>Анализ подписчиков группы "Абитуриенты ВятГУ 2020"</h1>
              </td>
          </tr>
        <tr>
            <td align="center">
                <img src="{{ url4 }}">
            </td>
            <td align="center">
                <h3>"Распределение подписчиков по возрастам в процентах"</h3>
            <img src="{{ url1 }}">
            </td>

        </tr>
          <tr>
              <td align="center">
              <br>
              <h3>"Распределение подписчиков по возрастам в количестве"</h3>
              <img src="{{ url6 }}">
          </td>
          <td align="center">
              <br>
              <h3>"Количество людей не указавших ВУЗ"</h3>
              <img src="{{ url5 }}">
          </td>
      </tr>
        <tr>
            <td align="center">
            <p><h3>Топ 5 групп у женщин</h3></p>
            </td>
            <td align="center">
            <p><h3>Топ 5 групп у мужчин</h3></p>
            </td>
        </tr>
        <tr>
            <td>
            <img src="{{ url2 }}">
            </td>
            <td>
            <img src="{{ url3 }}">
            </td>
        <tr>

      </table>
          <table align="center" >
              <tr>
            <td align="center" style="padding: 30px" >
                <p><h3>Топ 5 групп у женщин, распределение по возрастам</h3></p>
                <div class="sl" style="margin: 20px auto; max-width: 700px">
                {% for name in mems %}
                    <div class="sl_slide">
                        <img src="{{ name }}">
                    </div>
                {% endfor %}
                </div>
            </td>
            <td align="center" style="padding: 30px">
                <p><h3>Топ 5 групп у мужчин, распределение по возрастам</h3></p>
                <div class="sl" style="margin: 20px auto; max-width: 700px">
                {% for name in mems0 %}
                    <div class="sl_slide">
                        <img src="{{ name }}">
                    </div>
                {% endfor %}
                </div>
            </td>
        </tr>
              <tr>
                  <td align="center">
                      <h3>Топ постов по количеству лайков</h3>
                      <ul>
                      {% for member in datas %}
                          <a href="{{member[0]}}">{{member[0]}}</a>  , Количество лайков = {{member[1]}}<br>
                      {% endfor %}
                      </ul>
                  </td>
                  <td align="center">
                      <h3>Топ постов по количеству комментариев</h3>
                      <ul>
                      {% for comment in comments %}
                          <a href="{{comment[0]}}">{{comment[0]}}</a>  , Количество комментариев = {{comment[1]}}<br>
                      {% endfor %}
                      </ul>
                  </td>
              </tr>

              <tr>
                <td align="center" colspan="2">
                      <h3>Облако тегов популярных слов.</h3>
                      <img src="{{ url9 }}">
                  </td>
              </tr>
              <tr>
                  <td align="center">
                      <h3>Среднее количество просмотров распределенное по часам.</h3>
                      <img src="{{ url7 }}">
                  </td>
                  <td align="center">
                      <h3>Среднее количество лайков распределенное по часам.</h3>
                      <img src="{{ url8 }}">
                  </td>
              </tr>
          </table>


  </body>
    <script src='http://yastatic.net/jquery/2.1.3/jquery.min.js'></script>
    <script src='slick/slick.min.js'></script>
    <script src='js.js'></script>
</html>